.roulette {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.roulette-container {
  display: flex;
  justify-content: center;
  padding: 5px;
}

.button {
  padding: 15px 20px;
  margin-top: 20px;
  font-size: 20px;
  border-radius: 5px;
  border: solid 2px black;
}

.button:hover {
  border: solid 6px rgb(197, 6, 6);
  color: rgb(197, 6, 6);
}
